/* #header {
    height: 10vw;
} */
header {
	color: black;
	background-color: red;
	font-size: 4vw;
	margin: 0;
	text-align: center;
}
.js-correctAnswers {
	color: black;
	font-size: 2vw;
	margin: 2vw auto 2vw auto;
	text-align: center;
}
#js-question {
	color: black;
	font-size: 3vw;
	margin-top: 2vw;
	margin-left: auto;
	margin-bottom: 3vw;
	margin-right: auto;
	/* margin: 100px  auto; */
	text-align: center;
}

button[type="button"] {
	font-size: 3vw;
	margin: 0.7vw auto 0.7vw auto;
	text-align: center;
}
/* #reChallenge {
	display: none;
} */
.hr {
	height: 6vw;
	background-color: #ff0000;
	margin: 10vw auto 0 auto;
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
	header {
		color: black;
		background-color: red;
		font-size: 8vw;
		margin: 0;
		text-align: center;
	}
	.js-correctAnswers {
		color: black;
		font-size: 6vw;
		margin: 10vw auto 5vw auto;
		text-align: center;
	}
	#js-question {
		color: black;
		font-size: 5vw;
		margin-top: 5vw;
		margin-left: auto;
		margin-bottom: 3vw;
		margin-right: auto;
		/* margin: 100px  auto; */
		text-align: center;
	}

	button[type="button"] {
		font-size: 5vw;
		margin: 1vw auto 1vw auto;
		text-align: center;
	}
	#reChallenge {
		display: none;
	}
	.hr {
		height: 10vw;
		background-color: #ff0000;
		margin: 30vw auto 0 auto;
	}
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
	header {
		color: black;
		background-color: red;
		font-size: 10vw;
		margin: 0;
		text-align: center;
	}
	.js-correctAnswers {
		color: black;
		font-size: 6vw;
		margin: 12vw auto 7vw auto;
		text-align: center;
	}
	#js-question {
		color: black;
		font-size: 7.5vw;
		margin-top: 7vw;
		margin-left: auto;
		margin-bottom: 7vw;
		margin-right: auto;
		/* margin: 100px  auto; */
		text-align: center;
	}

	button[type="button"] {
		font-size: 7vw;
		margin: 2vw auto 2vw auto;
		text-align: center;
	}
	#reChallenge {
		display: none;
	}
	.hr {
		height: 14vw;
		background-color: #ff0000;
		margin: 40vw auto 0 auto;
	}
}
